@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */

html,
body,
#__next {
  height: 100% !important;
}

body {
  background: url("/images/background-1.png");
  background-size: cover;
}

body,
.font-inter {
  font-family: "Inter", sans-serif;
}

.font-proxima {
  font-family: "proxima-soft", sans-serif;
}
