@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-60: #222822;
  --color-dark-70: #181e18;
  --color-dark-80: #090f09;
  --color-dark-90: #0a0a0a;

  --color-olive-50: #52b788;
  --color-olive-60: #40916c;
  --color-olive-70: #2d6a4f;

  --color-gray-450: #7b8290;
}

/* Custom Styles */

html,
body,
#__next {
  height: 100% !important;
}

.bg-index {
  background: url("/images/background-1.png");
  background-size: cover;
}

body,
.font-inter {
  font-family: "Inter", sans-serif;
}

.font-proxima {
  font-family: "proxima-soft", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-dark-80);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-60);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-60);
}

.bg-login {
  background: url("/images/background-2.jpg");
  bakground-size: cover;
}

.hidden-scrollbar {
  overflow: overlay !important;
}

.hidden-scrollbar::-webkit-scrollbar {
  height: 1.5rem !important;
  background: transparent !important;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  background: transparent !important;
}

/* width */
.tag-filter-scroll::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.tag-filter-scroll::-webkit-scrollbar-track {
  background: var(--color-dark-70);
}

/* Handle */
.tag-filter-scroll::-webkit-scrollbar-thumb {
  background: var(--color-dark-60);
}

/* Handle on hover */
.tag-filter-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.server-status-tooltip {
  padding: 0.4rem 0.75rem !important;
  font-family: "Inter", sans-serif !important;
  letter-spacing: 0.035em !important;

  transition: opacity 0.5s ease-in-out, visibility 1s ease-out !important;
  opacity: 0 !important;
}

.server-status-tooltip.show {
  opacity: 1 !important;
}

.image-pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.long-description a {
  @apply text-olive-50;
}
